<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Banque</title>
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.6-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myBanqueApp" ng-controller="myBanqueController">
	<div class="col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-info spacer">
			<div class="panel-heading">Compte</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label>Code Compte</label> <input type="text"
							ng-model="codeCompte">
						<button ng-click="chargerCompte()">Charger</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div ng-if="compte">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-info spacer">
				<div class="panel-heading">Etat du compte</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Solde:</label> <label>{{compte.solde}}</label>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Date création:</label> <label>{{compte.dateCreation
							| date:'dd-MM-yyyy'}}</label>
					</div>
					<div ng-if="compte.taux">
						<label>Taux:</label> <label>{{compte.taux}}</label>
					</div>
					<div ng-if="compte.decouvert">
						<label>Découvert:</label> <label>{{compte.decouvert}}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-info spacer">
				<div class="panel-heading">Effectuer une opération</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label>Versement:</label> <input type="radio"
								ng-model="operation.type" value="versement" /> <label>Retrait:</label>
							<input type="radio" ng-model="operation.type" value="retrait" />
						</div>
						<div class="form-group">
							<label>Montant:</label> <input type="text"
								ng-model="operation.montant" />
						</div>
						<button class="btn btn-primary" ng-click="saveOperation()">Save</button>
					</form>
				</div>

			</div>

		</div>

		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-info spacer">
				<div class="panel-heading">Opérations du compte</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>NUM</th><th>Date</th><th>Montant</th><th>Type</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="op in pageOperations.operations">
								<td>{{op.numeroOperation}}</td>
								<td>{{op.dateOperation}}</td>
								<td>{{op.montant}}</td>
								<td>{{op.type}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="angular/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
</body>
</html>